__pycache__/
Excel/Benchmarks
Images/
Simulated Hamiltonians/
AdS2 Holography and the SYK Model.pdf
copy_mathematica_exactly.ipynb
cuda_functions.ipynb
numba_cuda_hamiltonian nogood.ipynb
numba_cuda_hamiltonian.ipynb
numba_cuda_hamiltonian_3_2.ipynb
numba_cuda_hamiltonian_3_debugging.ipynb
numba_cuda_hamiltonian_3_debugging_2.ipynb
numba_cuda_hamiltonian_3_debugging_3.ipynb
numba_cuda_hamiltonian_3_v3 no_complex.ipynb
numba_cuda_hamiltonian_3_v3 sparse.ipynb
numba_cuda_tutorial.ipynb
timing_hamiltonian_creation.txt

