__pycache__/
backburner/
Excel/Benchmarks
Excel/N2_SUSY_SYK
Excel/eigenvalues
Images/
Simulated Hamiltonians/
AdS2 Holography and the SYK Model.pdf
copy_mathematica_exactly.ipynb
cuda_functions.ipynb
inspect_eigenvectors_N8_J100_SUSY_SYK.ipynb
inspect_eigenvectors_N12_J100_SUSY_SYK.ipynb
N2_SUSY_SYK_MLP good_result.ipynb
numba_cuda_hamiltonian nogood.ipynb
numba_cuda_hamiltonian.ipynb
numba_cuda_hamiltonian_3_2.ipynb
numba_cuda_hamiltonian_3_debugging.ipynb
numba_cuda_hamiltonian_3_debugging_2.ipynb
numba_cuda_hamiltonian_3_debugging_3.ipynb
numba_cuda_hamiltonian_3_v3 no_complex.ipynb
numba_cuda_hamiltonian_3_v3 sparse.ipynb
numba_cuda_tutorial.ipynb
sparse_matrix_multiply.ipynb
supersymmetric_syk_N2_no_work.ipynb
timing_hamiltonian_creation.txt

